header {
    background: #131921;
    padding: 15px;
    display: flex;
    justify-content: space-between;
}

header img{
    height: 40px;
    width: auto;
}

header a {
    color: #fff;
    font-size: 14px;
    font-weight: 700;
    text-decoration: none;
}